

    <div class=" mb-3 md-center text-center  alert-dark"  role="alert">
        Aluno cadastrado com sucesso! :)
    </div>
    <div class="d-grid gap-2d d-md-flex justify-content-center">
        <a class="btn btn-outline-info text-center " type="button" asp-controller="Aluno" asp-action="Index">Voltar</a>
    </div>
