@model EnderecoModel

<div class="text-left">
    <form>
        <div class="mb-3">
            <label for="ExemploLogradouro" class="form-label">Logradouro</label>
            <input type="text" class="form-control col-4" asp-for="logradouro">

        </div>
        <div class="mb-3">
            <label for="ExemploComplemento" class="form-label">Complemento</label>
            <input type="text" class="form-control col-1" asp-for="complemento">
        </div>

        <div class="mb-3">
            <label for="ExemploBairro" class="form-label">Bairro</label>
            <input type="text" class="form-control col-3" asp-for="bairro" />
        </div>
        <div class="mb-3">
            <label for="ExemploEmail" class="form-label">Localidade</label>
            <input type="text" class="form-control col-5" asp-for="localidade" />
        </div>
        <div class="mb-3">
            <label for="ExemploUf" class="form-label">Uf</label>
            <input type="text" class="form-control col-2" asp-for="uf" />
        </div>
        <div class="mb-3">
            <label for="ExemploDDD" class="form-label">DDD</label>
            <input type="text" class="form-control col-2" asp-for="ddd" />
        </div>


    </form>
</div>