<p>
    Data iniciada = 01/2022
    <br />
    Data finalização = 07/2022
    <br />
    Nome do coordenador = Júnior Cunha
    <br />
    Instituição = Senac Brusque
    <br />
    Endereço = Endereço: Rod. Antônio Heil, 191 - Centro 2, Brusque - SC, 88353-100
    <br />
    Telefone =  (47) 3351-2626
</p>